<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--ADO模式下需要添加该节点,否则可以删除该节点-->
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">

    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ZFSContext" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial catalog=ZFS;Integrated Security=True" />
  </connectionStrings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBaseService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8766/Design_Time_Addresses/ZFSLibrary/Service/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBaseService"
          contract="ServiceReference.IBaseService" name="BasicHttpBinding_IBaseService" />
    </client>
  </system.serviceModel>
</configuration>