<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBaseService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://39.108.11.3:1883/Design_Time_Addresses/ZFSLibrary/Service/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBaseService"
                contract="ServiceReference.IBaseService" name="BasicHttpBinding_IBaseService" />
        </client>
    </system.serviceModel>
</configuration>